*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    flex-direction: row;
    border: 5px solid black;
}
input{
    padding: 15px;
    margin: 1rem;
}
button{
    color: aliceblue;
    background-color: rgb(0, 68, 255);
    margin-right: 1rem;
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 15px;
}
button:hover{
    transform: scale(1.2);
}
button:active{
    transform: scale(0.9);
}
