   *{
     font-weight: bold;
     
    }
    #navBar{
      display: flex;
      background-color: oklch(44.4% 0.177 26.899) !important;
      box-shadow: 0 2px 4px black;
    }
    .text {
      position: absolute;
      top: 20%;
      left: clamp(50%, 15vw, 15%);
      transform: translate(-50%, -50%);
      color: oklch(20.8% 0.042 265.755);
      font-size: clamp(18px, 3vw, 24px);
    }
    .kogane{
        background: linear-gradient(90deg, #ffde59, #ff914d);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
    h1{
      font-weight: bold;
      font-size: 50px;
      margin-bottom: 1rem;
      
    }
    .mage{
      position: relative;
      height: auto;
      max-height: 300px;
      width: 100%;
      object-fit: cover; 
      object-position: center 12%;
      box-shadow: 0 2px 6px black;

    }
    .card{
      margin-top: 2rem;
      background-color: aliceblue;
      border: none;
    }
    .card h3 {
      font-weight: bold;
    }
    .carousel-item {
      height: 800px;             
    }
    .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      border-radius: 20px;  
    } 
    #inicio, #sobre, #pedidos, #galeria{
      background-color: oklch(20.8% 0.042 265.755) !important;
      color: aliceblue;
      height: auto;
      box-shadow: 0 2px 4px black;
    }
    .entradas, .pratos-main, .bebidas, .sobremesas {
      margin-top: 2rem;
    }
    h3{
      font-weight: bold;
    }
    .special {
      font-weight: bold;
      color:  #ffde59;
      text-align: center;
      background-color: black;
      margin-bottom: 2px;
      margin-top: 10px;
    }
    #day{
      color: red;
    }
    .preco{
      display: flex;
    }
    #cardapio{
      border-left: 5px solid #c9a44c; /* dourado */
      border-right: 5px solid #c9a44c;
      margin: 0 4rem 0 4rem;       
    }
    #card{
      font-weight: bold;
    }
    .descricao{
      font-weight: normal;
    }
    .col-md-4 {
      margin-bottom: 3rem;
    }

